<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error 404</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"></link>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>
<div class="container">
	<br></br>
	<h1>ERROR 404</h1>
	<p>Halaman tidak ditemukan</p>
</div>
</body>
</html>